/* Container que envolve tudo */
.dashboard-container {
  min-height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;     
  box-sizing: border-box;
}

/* Retângulo cinza principal  */
.dashboard-box {
  background-color: #ffffff;
  width: 100vw;      
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative; 
  top: 0;             
  margin-top: 100px
}

/* Retângulo menor */
.dashboard-inner-box {
  background-color: #248C4F;
  padding: 70px 50px;
  border-radius: 12px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin-bottom: 20px;
}

/* Descrição fora do retângulo menor */
.dashboard-description {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #2e2c2c;
  text-align: center;
  margin: 0;
}


/* Botão Download PDF */
.download-pdf {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  background-color: #1762a8;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.download-pdf:hover {
  background-color: #4275d4;
}

.bar-chart-container {
  display: flex;
  align-items: flex-start;
  background: #f5f5f5;
  border-radius: 66px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  padding: 30px;
  margin: 40px 0 40px 20px; 
  width: 825px;
  min-height: 491px;
  box-sizing: border-box;
}

.bar-chart-legend {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 50px;
}

.bar-chart-legend-item {
  display: flex;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #1C1B1F;
}

.bar-chart-legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.bar-chart-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.bar-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.bar-fill {
  height: 30px; 
  background-color: #1762a8;
  border-radius: 12px;
  width: 50%; 
}


.chart-bar span {
  margin-top: 8px;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
}

/* ícone ampliar */
.chart-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.chart-expand {
  cursor: pointer;
  color: #1762a8;
}


.cards-container {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
  flex-wrap: wrap; 
  gap: 5px;
}

/* Borda cinza */
.card-border {
  border: 6px solid #A2A1A0;
  border-radius: 66px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px; 
  background: transparent;
}

/* Retângulo azul */
.card-blue {
  width: 200px;
  height: 200px;
  background: #0C3887;
  border-radius: 66px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Número dentro do card */
.card-number {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Título do card */
.card-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  text-align: center;
  width: 80%;
}




.pie-chart-container {
  width: 820px;
  height: 420px;
  background: #f5f5f5;
  border-radius: 66px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  padding: 30px;
  margin: 40px 0 40px 20px; 
  position: relative;
  box-sizing: border-box;
}

.pie-chart-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: #1c1b1f;
  margin-bottom: 20px;
}

.pie-chart-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
}

/* Legenda */
.pie-chart-legend {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 50px;
}

.legend-item {
  display: flex;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #1c1b1f;
}

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.legend-color.discente { background: #1762a8; }
.legend-color.docentes { background: #248c4f; }
.legend-color.taes { background: #f39c12; }
.legend-color.externos { background: #c0392b; }

/* Gráfico de pizza  */
.pie-chart {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: conic-gradient(
    #1762a8 0% 30%,
    #248c4f 30% 50%,
    #f39c12 50% 75%,
    #c0392b 75% 100%
  );
}
