body {
  font-family: 'Manrope', sans-serif;
}

.dashboard-footer {
  position: relative;
  width: 100%;
  background: #1C1B1F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px 24px 0 0;
  padding: 40px 20px;
  box-sizing: border-box;
  margin-top: 40px;
}

.footer-content {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #FFF1F1;
  text-align: center;
  white-space: pre-line; 
}
