

body {
  font-family: 'Manrope', sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;    
  min-height: calc(100vh - 60px); 
  text-align: left;        
   padding: 80px 20px 20px 20px; 
  box-sizing: border-box;
}

/* logo */
.home-logo {
  width: 1300px;
  height: auto;
  margin-top: -35px;
  margin-left: 10px;
}

/* Container do texto */
.home-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

/* Título principal (UNIPAMPA)  */
.home-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 68px;
  color: #278837; 
  margin: 0;
  position: relative;
  padding-bottom: 10px; 
}

.home-title::after {
  content: '';
  display: block;
  width: 100%;       
  height: 5px;       
  background-color: #FFD700; 
  margin-top: -13px;
}

/* Subtítulo (INDICADORES DA EXTENSÃO UNIVERSITÁRIA) */
.home-subtitle {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  color: #000000; 
  margin: 0;
}

.home-subsubtitle {

  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  color: #585656;
  margin: 0;
  margin-top: 5px; 
}


/* Botão ACESSAR INDICADORES */
.home-button {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  width: 450px;    
  height: 70px;   
  background-color: #1762a8; 
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
}

.home-button:hover {
  background-color: #4275d4; 
}

.info-box {
  background-color: #e0e0e0;
  padding: 30px 40px;        
  margin-top: 40px;           
  border-radius: 0;           
  width: 100%;               
  box-sizing: border-box;     
}

.info-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 28px;
  margin: 0 125px 0 125px;
  color: #000000;
}

.info-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #333333;
  margin: 0 125px 0 125px;
}

.info-reference {
  font-family: 'Manrope', sans-serif;
  font-weight: 380;
  font-size: 20px;
  line-height: 28px;
  color: #262626;
  margin: 5px 125px 0 125px;
}

.left-info-decorators{
  position: relative;
  left: 950px;
  bottom: 50px;
  width: 75px;
  height: 10px;
}

.right-info-decorators{
 position: relative;
 right: 85px;
 bottom: 70px;
 width: 10px;
 height: 10px;
}
