

body {
  font-family: 'Manrope', sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;    
  min-height: calc(100vh - 60px); 
  text-align: left;        
   padding: 80px 20px 20px 20px; 
  box-sizing: border-box;
}

/* logo */
.home-logo {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

/* Container do texto */
.home-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

/* Título principal (UNIPAMPA)  */
.home-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 68px;
  color: #278837; 
  margin: 0;
  position: relative;
  padding-bottom: 10px; 
}

.home-title::after {
  content: '';
  display: block;
  width: 100%;       
  height: 5px;       
  background-color: #FFD700; 
  margin-top: 5px;
}

/* Subtítulo (INDICADORES DA EXTENSÃO UNIVERSITÁRIA) */
.home-subtitle {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  color: #000000; 
  margin: 0;
  margin-top: 10px; 
}

.home-subsubtitle {

  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  color: #585656;
  margin: 0;
  margin-top: 10px; 
}



/* Botão ACESSAR INDICADORES */
.home-button {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  width: 476px;    
  height: 78px;   
  background-color: #1762a8; 
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.home-button:hover {
  background-color: #4275d4; 
}


.info-box {
  background-color: #e0e0e0; 
  padding: 30px 40px;        
  margin-top: 40px;           
  border-radius: 0;           
  width: 100%;               
  box-sizing: border-box;     
}

.info-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 28px;
  margin: 0 0 15px 0;
  color: #000000;
}

.info-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  margin: 0;
}


/* CONTAINER DAS FORMAS */
.decorations {
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  pointer-events: none; 
  overflow: hidden;
  z-index: 0; 
}

.shape {
  position: absolute;
  border-radius: 66px;
}


.shape1 {
  width: 182.63px;
  height: 157.92px;
  top: 6.53px;
  background: #E74B23;
  border-radius: 66px;
  transform: matrix(-0.06, -1, 1, -0.03, 0, 0);
}



.shape2 {
  width: 270.25px;
  height: 151.72px;
  left: 401.81px;
  top: 255.47px;
  background: #155BD8;
}


.shape3 {
  width: 165.14px;
  height: 231.47px;
  left: 798.95px;
  top: -24px;
  background: #278837;
  transform: matrix(-0.06, -1, -1, 0.03, 0, 0);
}


.shape4 {
  width: 267.57px;
  height: 279.03px;
  left: 984.37px;
  top: 6.59px;
  background: #FEC320;
  transform: matrix(-0.06, -1, 1, -0.03, 0, 0);
}


.shape5 {
  width: 95.6px;
  height: 135.04px;
  left: 1028.86px;
  top: 311.61px;
  background: #2E46A7;
  transform: matrix(-0.06, -1, 1, -0.03, 0, 0);
}
