body {
  font-family: 'Manrope', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Container geral da página */
.login-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px;
}


.login-header-wrapper {
  position: relative;
  width: 1058px;
  max-width: 90%;
  height: 236px;
  margin-bottom: 40px;
}

/* Retângulo branco atrás */
.login-header-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 20px;
  z-index: 0;
}

/* Retângulo verde sobreposto */
.login-header-green {
  position: absolute;
  width: 1058px;
  height: 236px;
  left: 0;
  top: 0;
  background-color: #248C4F;
  border-radius: 40px 0 0 0;
  z-index: 1;
}

/* Texto LOGIN */
.login-header-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 75px;
  color: #FFFFFF;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

/* Ícone seguro */
.login-icon {
  width: 96px;
  height: 96px;
  background: url('secure-icon.png') no-repeat center center;
  background-size: contain;
  margin-bottom: 20px;
}

/* Card de login */
.login-card {
  width: 400px;
  max-width: 90%;
  background: #ffffff;
  padding: 50px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Títulos dos inputs */
.login-title {
  width: 100%;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 10px;
  color: #000000;
  text-align: left;
}

/* Inputs */
.login-input {
  width: 100%;
  height: 64px;
  padding: 0 15px;
  margin-bottom: 20px;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
}

/* Esqueceu a senha */
.forgot-password {
  align-self: flex-end;
  font-weight: 600;
  font-size: 25px;
  color: #155BD8;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 30px;
}

/* Botão de login */
.login-button {
  width: 100%;
  height: 72px;
  background-color: #155BD8;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-button:hover {
  background-color: #4275d4;
}
