.navbar {
  width: 100%;
  height: 60px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.400);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-logo {
  height: 50px; 
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.2s;
}

.navbar-links li a:hover {
  color: #646cff;
}
